article {
    display: block;
    background: #fff;
    padding: 30px;
    cursor: pointer;
    height: 580px;
    
    
    // -webkit-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 30px .08rem rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 20px; }
    article h2 {
        font-weight: 400;
        margin-bottom: 15px; 
        font-size: 30px;}
        article h2 a {
        color: #303133; }
    article .status{
        line-height: 0;
        color: #4dc14d;
    }
    // article .expand-btn{
    //     text-align: center;
    //     margin: 0;
    //     font-size: 14px;
    //     color: #b5b5b5;
    //     animation-duration: 10s;
    //     animation-iteration-count: 5;
    //     transform-origin: bottom;
    //     animation-name: bounce-5;
    //     animation-timing-function: ease;
    //     animation-delay: 10s;
    // }
    article .admin span {
        font-size: 12px;
        color: #303133; }
        article p.author-wrap .author-img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 64px;
            height: 64px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
        article p.author-wrap .author {
            padding-left: 70px;
            color: #303133;
            font-size: 12px;
            text-decoration: none;
            margin-left: 10px;
        }
    article .project-footer {
        bottom: 35px;
        position:absolute;
    }
/* ---------------Animate Starts Here---------------*/
@keyframes bounce-5 {
    0%   { transform:translateY(0); }
    10%  { transform:translateY(-4px);}
    15%  { transform:translateY(0); }
    17%  { transform:translateY(-1.5px); }
    25%  { transform:translateY(0); }
    64%  { transform:translateY(0); }
    100% { transform:translateY(0); }
}
/* ---------------Animate End Here---------------*/