// Colors
$brand-primary: #4aca85 !default;
$brand-white: #fff;
$brand-black: #000;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

@mixin gradient-background(){
    background: #499bea;
    background: -moz-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #499bea), color-stop(100%, #798eea));
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -ms-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#798eea', GradientType=1 );
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

// Style begins
#colorlib-cta{
	position: relative;
}
.colorlib-cta {
	clear: both;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	.overlay-cta {
		z-index: 0;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		@include gradient-background();
		opacity: .96;
	}
	.colorlib-heading-cta{
		margin-top: 30px;
		h2{
            color: $brand-white;
            font-size: 33px;
		}
		p{
			font-size: 20px;
			color: rgba(255,255,255,.7);
		}
	}
}
.qbstp-header-cta {
	width: 100%;
	padding: 0;
	.col-three-forth{
		width: 70%;
	}
	.col-one-third{
		width: 35%;
	}
	.col-three-forth, .col-one-third{
		display: table;
		height: 50px;
		float: none;
		@media screen and(max-width: $screen-sm){
			width: 50%;
		}
	}
	button {
        border-radius: 30px;
		background: $brand-primary;
		color: $brand-white;
		border: none;
		padding: 10px 20px;
		height: 55px;
		width: 50%;
		display: block;
	}
}


// Bootstrap begins
.container-cta {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-cta:before, .containe-ctar:after {
    content: " ";
    display: table;
  }
  .container-cta:after {
    clear: both;
  }
  @media (min-width: 768px) {
    .container-cta {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container-cta {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-cta {
      width: 1170px;
    }
  }

.row-cta {
    margin-left: -15px;
    margin-right: -15px;
}
.row-cta:before, .row-cta:after {
    content: " ";
    display: table;
}
.row-cta:after {
    clear: both;
}


    .col-md-6, .col-md-10, .col-md-12 {
      float: left;
    }
    .col-md-6 {
        width: 50%;
      }
    .col-md-10 {
        width: 83.33333%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333%;
      }
    .col-md-offset-3 {
        margin-left: 35%;
    }


.text-center {
    text-align: center;
  }

.btn-cta {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-cta:focus, .btn-cta.focus, .btn-cta:active:focus, .btn-cta:active.focus, .btn-cta.active:focus, .btn-cta.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-cta:hover, .btn-cta:focus, .btn-cta.focus {
    color: #333;
    text-decoration: none;
}
.btn-cta:active, .btn-cta.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-cta.disabled, .btn-cta[disabled], fieldset[disabled] .btn-cta {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary-cta {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
.btn-primary-cta:focus, .btn-primary-cta.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary-cta:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary-cta:active, .btn-primary-cta.active, .open > .btn-primary-cta.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary-cta:active:hover, .btn-primary-cta:active:focus, .btn-primary-cta:active.focus, .btn-primary-cta.active:hover, .btn-primary-cta.active:focus, .btn-primary-cta.active.focus, .open > .btn-primary0-cta.dropdown-toggle:hover, .open > .btn-primary-cta.dropdown-toggle:focus, .open > .btn-primary-cta.dropdown-toggle.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn-primary-cta:active, .btn-primary-cta.active, .open > .btn-primary-cta.dropdown-toggle {
    background-image: none;
}
.btn-primary-cta.disabled, .btn-primary-cta.disabled:hover, .btn-primary-cta.disabled:focus, .btn-primary-cta.disabled.focus, .btn-primary-cta.disabled:active, .btn-primary-cta.disabled.active, .btn-primary-cta[disabled], .btn-primary-cta[disabled]:hover, .btn-primary-cta[disabled]:focus, .btn-primary-cta[disabled].focus, .btn-primary-cta[disabled]:active, .btn-primary-cta[disabled].active, fieldset[disabled] .btn-primary-cta, fieldset[disabled] .btn-primary-cta:hover, fieldset[disabled] .btn-primary-cta:focus, fieldset[disabled] .btn-primary-cta.focus, fieldset[disabled] .btn-primary-cta:active, fieldset[disabled] .btn-primary-cta.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary-cta .badge {
    color: #337ab7;
    background-color: #fff;
}